body {
  margin: 0%;
  background-color: rgb(10, 12, 27);
}
.container-flex {
  background-color: rgb(28, 25, 55);
  margin: auto;
  margin-top: 10%;
  display: flex;
  width: 80%;
  height: 380px;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 576px) {
  .container-flex {
    flex-direction: column;
  }
}
.container-flex span {
  color: rgb(133, 68, 176);
}
.container-flex h2 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
}
.container-flex p {
  color: hsl(0, 0%, 50%);
  margin: 0;
}
.box1 .container-box1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}
.box1 .container-box1 b {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}
.child1,
.child2,
.child3 {
  text-align: left;
  width: fit-content;
}
.child-flex p {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 7px;
  color: gray;
  font-family: "KoHo", sans-serif;
}
.child-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 300px;
}
.box2 {
  position: absolute;
  width: 75%;
  height: 100%;
  position: relative;
  border-radius: 0px 10px 10px 0px;
}
@media (max-width: 576px) {
  .box2 {
    width: 100%;
    padding-top: 60%;
    transform: translateY(-220px);
  }
}
.box2 .img {
  background-image: url(/images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0px 10px 10px 0px;
}

.box2 .violet {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 68, 176, 0.5);
  border-radius: 0px 10px 10px 0px;
}
